<!DOCTYPE html>
<html="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <title>冷凍食品</title>
        <link href="../static/ajax.css" rel="stylesheet">
        <script src="../static/ajax.js" defer></script>

    </head>
        <body >
         <!-- startヘッダー -->
         <header class="header">
            <div class="container">
              <!-- ロゴエリア -->
              <div class="area_logo_header">
                <a class="logo" href="#">
                  <img src="../static/cmn/img/logo/logo3.svg">
                </a>
                <p class="copy">for your busy time...</p>
              </div>
              <nav class="area_nav_header">
                <ul class="list_nav_header">
                  <li>
                      <a href="#">SEARCH</a>
                  </li>
                  <li>
                      <a href="#">CATEGORY</a>
                  </li>
                  <li>
                      <a href="#">FAVORITES</a>
                  </li>
                  <li>
                      <a href="#">TOPICS</a>
                  </li>
                </ul>
                <ul class="list_nav_icon_header">
                  <li class="search">
                      <a href="#"></a>
                  </li>
                  <li class="favorite">
                      <a href="#"></a>
                  </li>
                  <li class="home">
                      <a href="#"></a>
                  </li>
                </ul>
              </nav>
            </div>
         </header>
         <!-- endヘッダー -->
         <!-- start メイン -->
         <main>
            <section class="">
                <div class=""></div>
                <div></div>
                <div class="card-container">
                    <div class="card-image" style="height: 140px;">
                        <img src="https://www.maruha-nichiro.co.jp/products/photo/4902165625196_1.png" alt="牛カルビマヨネーズ" style="height: 140px;">
                    </div>
                    <div class="card-body">
                        <div class="foodname">牛カルビマヨネーズ</div>
                        <button><span>商品情報はこちら！</span></button>
                    </div>
                </div>
            </section>
         </main>